.DS_Store
__pycache__/
*.py[cod]
*.sqlite3
*.log
.env

# Python virtualenvs
.venv/
venv/

# Django
staticfiles/
media/
backend/static/assets/
backend/templates/react.generated.html

# Node / React
node_modules/
frontend/dist/
